segSep
Brain MRI Dataset of Multiple Sclerosis with Consensus Manual Lesion Segmentation and Patient Meta Information
datasets
runs
yolov8n-seg.pt
data.yaml
0_Data_reg_inter_rigid 
new_database
new_Miccai
soutenance
new_Brain_MRI_xt
new_Miccai_xt
